{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <h1>Hello there, my name is lorine</h1>
  <br/>

  

  
  
    <div class="card">
        <h1>Random Events</h1>

        <p>{{results}}</p>
      
    </div>
  

  <div class="card">
      <h1>Are you bored?</h1>

      <p>{{results2}}</p>


  </div>
  <div class="card">
    <h1>Dog Breeds</h1>

    <img src = "{{results3}}" alt = "color"


  </div>
</body>
</html>