<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unique Blogs</title>
    <!-- Link to your CSS stylesheet -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="logo">Logo
          <img src="logo.jpg" alt= "logo" width 50px height 50px>
        </div>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#blog">Blog</a></li>
                
            </ul>
        </nav>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button type="submit">Search</button>
        </div>
    </header>

    <!-- Hero Section -->
    <section class="hero">
        <div class="background-image">
            <!-- Background image here -->
        </div>
        <div class="hero-content">
            <h1>Welcome to our Blog App</h1>
            <p>Explore the Latest Blog Posts </p>
            <a href="https://unsplash.com" class="cta-button">Explore Now</a>
        </div>
    </section>

    <!-- Blog Section -->
    <section id="blog" class="blog">
        <h2>Featured Blog Posts</h2>
        <div class="featured-posts">
            <div class="post">
                <img src="beach.jpg" alt="Beach">
                <h3>Coastline</h3>
                <p>It's hot and sunny, so the beach is full, then the rain comes and it empties quickly. Some beaches have a promenade behind them and some are at the bottom of the cliff. Some have seas that you wouldn't swim in because you'd be swept away and other because the sharks live there. That's the beauty of the beach...</p>

              <img src="codeimg.jpg" alt="code">
              <h3>Code snippet</h3>
              <p></p>

              <img src="" alt="">
              <h3>Post Title 1</h3>
              <p>Description of post 1</p>
                <a href="#read-more">Read More</a>
            </div>
            <!-- Add more featured posts here -->
        </div>
    </section>

    <div class="card">
        <h1>Random Events</h1>

        <p>{{results}}</p>
      
    </div>
  

  <div class="card">
      <h1>Are you bored?</h1>

      <p>{{results2}}</p>


  </div>
  <div class="card">
    <h1>Dog Breeds</h1>

    <img src = "{{results3}}" alt = "color"

  </div>

    <!-- Footer Section -->
    <footer>
        <div class="social-media">
            <!-- Add your social media links here -->
            <a href="#">Twitter</a> <br/>
            <a href="#">Facebook</a> <br/>
            <a href="#">Instagram</a>
        </div>
        <div class="contact-info">
            <!-- Add your contact information here -->
            <p>Email: lorineabdul@gmail.com</p>
        </div>
        <div class="copyright">
            <p>&copy; 2024 Blog  App. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
